.footer {
    background-color: #63CFEA;
    padding-bottom: 4%;

    .footer__heading {
        text-align: center;
        padding-top: 4%;
    }

    .footer__text {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }
}